:root {
    --dark1: #040404;
    --dark2: #212C30;
    --light1: #F1F2F3;
    --light2: #DBE3E6;
    --accent1: #F24452;
    --accent2: #04ADBF; 
    --accent3: #0D6973;
    --accent4: #261E14;
    --accent5: #F24444;
    --okita: #68b5c6;
}
