:root {
    --dark1: #171717;
    --dark2: #1C1C1C;
    --dark3: #202020;
    --light1: #F2F2F2;
    --light2: #595959;
    --accent1: #F24452;
    --accent2: #04ADBF; 
    --accent3: #0D6973;
    --accent4: #261E14;
    --accent5: #F24444;
    --okita: #68b5c6;

    --color-calendar-graph-day-bg: #312d2d;
    --color-calendar-graph-day-L1-bg: #39dd34;
    --color-calendar-graph-day-L2-bg: #45a045;
    --color-calendar-graph-day-L3-bg: #047526;
    --color-calendar-graph-day-L4-bg: #0a4208;
}
