:root {
    --shade1: #171717;
    --shade2: #1C1C1C;
    --shade3: #202020;

    --shade4: #3D3D3D;
    --shade5: #595959;
    --shade6: #F2F2F2;

    --accent1: #F24452;
    --accent2: #04ADBF; 
    --accent3: #0D6973;
    --accent4: #92F250;
    --accent5: #F24444;
    --okita: #68b5c6;
}
