:root {
    --shade1: #04acbf09;
    --shade2: #F2F2F2;
    --shade3: #595959;

    --shade4: #171717;
    --shade5: #1C1C1C;
    --shade6: #4093A4;
    
    --accent1: #F24452;
    --accent2: #04ADBF; 
    --accent3: #0D6973;
    --accent4: #92F250;
    --accent5: #F24444;
    --okita: #68b5c6;
}
